.head-container {
  padding-bottom: 10px;
  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin: 0 3px 10px 0;
    input {
      height: 30.5px;
      line-height: 30.5px;
    }
  }
  .el-button+.el-button {
    margin-left: 0 !important;
  }
  .el-select__caret.el-input__icon.el-icon-arrow-up{
    line-height: 30.5px;
  }
  .date-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
    height: 30.5px !important;
    width: 230px !important;
  }
}
.el-tabs{
  margin-bottom: 25px;
}
