<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="nlog-internal.log">

	<!--Nlog 文档参考地址：https://github.com/NLog/NLog/wiki/Getting-started-with-ASP.NET-Core-2-->
	<!--internalLogLevel Nlog内部日志记录为Off关闭。除非纠错，不可以设为Trace否则速度很慢，起码Debug以上-->
	<!--自定义变量-->
	<variable name="logDir" value="${basedir}/nlogs/${date:format=yyyyMMdd}/${level}.log"/>

	<!-- Load the ASP.NET Core plugin,enable asp.net core layout renderers-->
	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>

	<!--define various log targets-->
	<targets async="true">
		<!--写入文件-->
		<!--滚动日志文件上限数，滚动日志文件数达到上限新的文件内容会覆盖旧文件内容 -->
		<!--archiveAboveSize每个日志文件大小的最大值（单位：字节），主日志文件超过大小超过该值时会将文件内容写入滚动日志并清空主日志文件内容-->
		<!--${basedir}表示当前应用程序域所在的根目录-->
		<!-- 🆕 专用启动/框架日志 -->
		<target name="framework" xsi:type="File"
				fileName="${basedir}/logs/framework.log"
				archiveFileName="${basedir}/logs/bak/framework/framework-{###}.log"
				archiveEvery="Day"
				archiveNumbering="DateAndSequence"
				archiveAboveSize="20000000"
				maxArchiveFiles="7"
				keepFileOpen="true"
				layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=tostring}" />

		<target name="allfile" xsi:type="File"
				fileName="${basedir}/logs/all.log"
				archiveFileName="${basedir}/logs/bak/all/all-{###}.log"
				archiveEvery="Day"
				archiveNumbering="DateAndSequence"
				archiveAboveSize="20000000"
				maxArchiveFiles="30"
				keepFileOpen="true"
				layout="${longdate} | ${event-properties:item=EventId:whenEmpty=0} | ${aspnet-request-connection-id} | ${uppercase:${level}} | ${logger} | ${aspnet-request-iP:CheckForwardedForHeader=true} | ${event-properties:item=user:whenEmpty=-} | ${aspnet-request-url} | ${message:whenEmpty=-} | ${event-properties:item=requestParam} | ${event-properties:item=jsonResult}"/>

		<!--错误日志-->
		<target name="errorfile" xsi:type="File"
				fileName="${basedir}/logs/error.log"
				archiveFileName="${basedir}/logs/bak/error/error-{###}.log"
				archiveEvery="Day"
				archiveNumbering="DateAndSequence"
				archiveAboveSize="20000000"
				maxArchiveFiles="30"
				keepFileOpen="true"
				layout="${longdate} | ${event-properties:item=EventId:whenEmpty=0} | ${aspnet-request-connection-id} | ${uppercase:${level}} | ${logger} | ${aspnet-request-iP:CheckForwardedForHeader=true} | ${event-properties:item=user} | ${aspnet-request-url} | ${message}${newline}请求参数：${event-properties:item=requestParam}${newline}请求结果：${event-properties:item=jsonResult}${newline}${exception:format=tostring}}"/>

		<!--SQL文件-->
		<target name="sqlfile" xsi:type="File"
			fileName="${basedir}/logs/sql.log"
			archiveFileName="${basedir}/logs/bak/sql/sql-{###}.log"
			archiveEvery="Day"
			archiveNumbering="DateAndSequence"
			archiveAboveSize="20000000"
			maxArchiveFiles="30" keepFileOpen="true"
			layout="${longdate} | ${uppercase:${level}} | ${aspnet-request-connection-id} | ${aspnet-request-iP} | ${aspnet-request-headers:HeaderNames=userName} | ${aspnet-request-url} ${newline}${message}"/>

		<!--写入彩色控制台-->
		<target name="console" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false"
				layout="${date:format=MM-dd HH\:mm\:ss} | ${uppercase:${level}} | ${aspnet-request-connection-id} | ${logger} | ${aspnet-request-iP} | ${aspnet-request-url} | ${message}">
			<highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
			<highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
			<highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
			<highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
			<highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
		</target>

		<!--写入黑洞-->
		<target name="blackhole" xsi:type="Null" />

	</targets>

	<rules>
		<logger name="Microsoft.AspNetCore.*" maxLevel="Info" final="true" writeTo="blackhole" />
		<logger name="Microsoft.Extensions.*" maxLevel="Info" final="true" writeTo="blackhole" />

		<!-- 折中方案：只记录 Warning 以上的 Microsoft 日志 -->
		<logger name="Microsoft.*" minLevel="Warn" writeTo="framework" final="true" />
		<!-- Quartz 低级别：只上控制台，不进 allfile -->
		<logger name="Quartz*" minlevel="Info" maxlevel="Info" writeTo="console" final="true" />
		<!-- SQL日志：控制台 + sql文件，不进 allfile -->
		<logger name="*.SqlSugar.SqlsugarSetup" final="true" writeTo="console,sqlfile"/>
		<!-- 异常中间件：写入 errorfile + console，同时也写入 allfile（如果不需要allfile则加final） -->
		<logger name="*.GlobalExceptionMiddleware" writeTo="console,errorfile,allfile" final="true" />
		<!-- 兜底：其余所有日志 → 控制台 + all文件 -->
		<logger name="*" minLevel="Trace" writeTo="allfile,console" />
	</rules>
</nlog>
