<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="url" value="http://127.0.0.1:8085/Health/index"/>
    <add key="interval" value="1"/><!--执行时间间隔(分钟)-->
  </appSettings>
</configuration>